<!DOCTYPE html>
<html lang="en">

  <!-- Head imports -->
  <%-include("./partials/head")%>

<body class="bg-dark text-light">
  
  <!-- navbar imports -->
  <%-include("./partials/navbar")%>

  <!-- VideosContainer -->
  <%-include("./partials/videosContainer", { videosCaption:"Recently uploaded videos"})%>

  <!-- footer -->
  <%-include("./partials/footer")%>
  
</body>
</html>