<!DOCTYPE html>
<html lang="en">

  <!-- Head imports -->
  <%-include("./partials/head")%>

<body class="bg-dark">
  
  <!-- navbar imports -->
  <%-include("./partials/navbar")%>

  <div class="container py-5 h4">
    <!-- noticeBox imports -->
    <%-include("./partials/noticeBox")%>
  </div>

  
</body>
</html>